#speed-counter{
    position: absolute;
    // border: 1px solid green;
    height: 30%;
    width: 40%;
    top:18vh;
    left:7.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: -200px;

    #speed-tag, #mph {
        // height: 30vh;
        // border: 1px solid blue;
        font-family: 'Roboto', sans-serif;
        color:#fff;
    }

}